{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["@vue/eslint-config-prettier", "@nuxtjs/eslint-config-typescript", "plugin:prettier/recommended"],
  "plugins": ["vue", "vuejs-accessibility", "prettier"],
  "ignorePatterns": "*.d.ts"
}
