{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "@vue/eslint-config-typescript",
    "@vue/eslint-config-prettier",
    "plugin:vuejs-accessibility/recommended",
    "plugin:vue/vue3-essential",
    "@nuxtjs/eslint-config-typescript",
    "plugin:prettier/recommended"
  ],
  "plugins": ["vue", "vuejs-accessibility", "prettier"],
  "ignorePatterns": "*.d.ts",
  "rules": {
    "prettier/prettier": "error",
    "vue/singleline-html-element-content-newline": "off",
    "no-unused-vars": "off",
    "space-before-function-paren": "off",
    "vue/no-v-model-argument": "off",
    "vue/multi-word-component-names": "off",
    "vue/no-multiple-template-root": "off"
  }
}
