{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["@nuxtjs/eslint-config-typescript", "plugin:prettier/recommended"],
  "plugins": ["vue", "vuejs-accessibility", "prettier"],
  "ignorePatterns": ["node_modules", ".nuxt", "dist", "coverage", ".vscode", ".github", "README.md", "LICENSE", "tsconfig.json"]
}
